<h1>Admin panel</h1>
<ol>
    <li>
        <a href="{{ path('level_index') }}">List of levels to questions</a>
    </li>
    <li>
        <a href="{{ path('question_index') }}">List questions</a>
    </li>
    <li>
        <a href="{{ path('answer_index') }}">List of answers to questions</a>
    </li>
</ol>